@import url('./variables.css');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation ul {
  display: flex;
  list-style: none;
  padding: 0;
  width: 100%;
  justify-content: space-around;
}

.navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation li a {
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: var(--color-button-background);
  border: 1px solid transparent;
  text-decoration: none;
}

.navigation li a:hover {
  border-color: var(--color-accent);
}
